.logo {
    margin: 0;
    margin-left: 163px;
    margin-right: 163px;
    padding-top: 24px;
    padding-bottom: 24px;

    color: #000000;
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    &--white {
        color: var(--white-color);

        @media screen and (min-width: 768px) {
            margin: 0;
            margin-left: 115px;
        }

        @media screen and (min-width: 1200px) {
            margin: 0;
            margin-right: 90px;
        }
    }

    
}

.logo__span--accent {
    color: var(--accent-color);
}

