.logo {
    margin: 0;
    

    color: #000000;
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }

    &--white {
        display: flex;
        justify-content: center;
        color: var(--white-color);

        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 1.2;
            // margin: 0;
            // margin-left: 115px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: flex-start;
            margin: 0;
            
            // margin-right: 90px;
        }
    }

    
}

.logo__span--accent {
    color: var(--accent-color);
}

